<!doctype html>
<html xmlns:th="http://thymeleaf.com.br"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<head>
		<meta charset="UTF-8">
		<title>Evento App</title>
	</head>
	<body>
		<h1>Página de Eventos</h1>
		<form method="post">
			Nome : <input type="text" name="nome" value="">
			Local: <input type="text" name="local" value="">
			Data : <input type="date" name="data" value="">
			Horário : <input type="text" name="horario" value="">
			
			<button type="submit">Salvar</button>
		</form>
	</body>
</html>
